<svg
        width="26"
        height="37"
        viewBox="0 0 26 37"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
    <g id="menu">
        <circle
            r="2.6458335"
            cy="5.2290449"
            cx="12.116959"
            style="fill:#00000;stroke-width:0.25;stroke-linecap:square" />
        <circle
            r="2.6458335"
            cy="17.914251"
            cx="12.116959"
            style="fill:#00000;stroke-width:0.25;stroke-linecap:square" />
        <circle
            r="2.6458335"
            cy="11.568027"
            cx="12.116959"
            style="fill:#00000;stroke-width:0.25;stroke-linecap:square" />
    </g>
</svg>
